/* Expand/Collapse Toolbar and +/- triggers */
.jasmine-tree-toolbar {
  border: 1px solid;
  display: inline-block;
  margin-left: 30px;
  padding: 3px;
}

.jasmine-tree-button,
a.jasmine-tree-trigger {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.jasmine-tree-button,
a.jasmine-tree-trigger:hover {
  text-decoration: none;
}